.container {
    max-width: 200px;
    width: 100%;
    border: 1px solid #555;
    border-radius: 3px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    width: 100%;
}

.autoCompleteList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        text-align: left;
        color: #fff;
        padding: 5px 5px;
        cursor: pointer;
        font-size: 14px;
        input[type=checkbox] {
            margin-right: 5px;
        }
    }
  }